body{
    font-family:'Sen', sans-serif;
}
/* Header */

/* /Header */

/*Yo*/
.yo {
    padding: 55px 0px 0px 0px;
    margin: 0;
    width: 100%;
    height: 360px;
    background-color: #007BFF;
   
}
.container_yo{
    padding: 25px;
    margin: 5px;
    color: whitesmoke;
    text-align: end;
}
.container_yo h1{
    color: white;
}
.btn-primary:not(:disabled):not(.disabled).active{
    color: white;
    background-color: #007BFF;
    border-color: white;
    
}
/*Yo*/
.que{
    border-bottom: 0.2em solid #373331;
    width: 18em;
    display: inline-block;
}
/* Footer */
#footer {
    background-color: #373331 !important;
}
#footer a {
    color: white;
}
.copy{
    font-size: 0.8em;
}

/* Footer */


/*Cursos*/
/*! CSS Used from: https://static.platzi.com/mf-landings/assets/home.697a1c5f5c7d765951ab.css */
.NextReleases-list{display:grid;grid-template-columns:1fr;grid-gap:2em;grid-row-gap:.5em;}
@media only screen and (min-width:48em){
.NextReleases-list{grid-template-columns:1fr 1fr;}
}
@media only screen and (min-width:64em){
.NextReleases-list{grid-template-columns:repeat(3,1fr);grid-gap:1.5em;grid-row-gap:.5em;}
}
.NextReleases-card{background-color:#fff;border-radius:4px;-webkit-box-shadow:0 2px 14px 0 rgba(0,0,0,.1);box-shadow:0 2px 14px 0 rgba(0,0,0,.1);border-left:4px solid #98ca3f;padding:8px 16px;font-size:12px;line-height:1.17;color:#4a4a4a;margin:0 0 8px;position:relative;cursor:pointer;}
@media only screen and (min-width:48em){
.NextReleases-card:nth-child(3){display:none;}
}
@media only screen and (min-width:64em){
.NextReleases-card:nth-child(3){display:block;}
}
.NextReleases-card a{position:absolute;top:0;right:0;bottom:0;left:0;color:#fff;text-decoration:none;}
.NextReleases-card-course{display:grid;grid-template-columns:24px auto;grid-gap:.5em;margin-bottom:8px;}
.NextReleases-card-course h4{font-size:14px;font-weight:700;color:#273b47;-webkit-align-self:center;align-self:center;-ms-flex-item-align:center;}
@media only screen and (min-width:48em){
.NextReleases-card-course h4{font-size:16px;}
}
@media only screen and (min-width:64em){
.NextReleases-card-course h4{font-size:18px;}
}
.NextReleases-card-course img{width:24px;}
.NextReleases-card-launch{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;}
.NextReleases-card-launch span{font-size:12px;}
@media only screen and (min-width:48em){
.NextReleases-card-launch span{font-size:14px;}
}
.NextReleases-card-launch i{font-size:14px;margin:0 10px 0 6px;color:#98ca3f;}
a{background-color:transparent;}
img{border-style:none;}
[class^=icon-]:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:icomoon;font-style:normal;font-variant:normal;font-weight:400;speak:none;text-transform:none;}
[class^=icon-]{line-height:100%;}
.icon-clock:before{content:"\e618";}
*{margin:0;}
a{color:#0791e6;}
/*! CSS Used fontfaces */
@font-face{font-family:icomoon;src:url(https://static.platzi.com/mf-landings/assets/icons-d25d25e0bb5d8e8aad1f32dcd7ae25c9.eot);src:url(https://static.platzi.com/mf-landings/assets/icons-d25d25e0bb5d8e8aad1f32dcd7ae25c9.eot#iefi9dtney) format("embedded-opentype"),url(https://static.platzi.com/mf-landings/assets/icons-e943149dc8a3aead112115662484e1b1.woff) format("woff"),url(https://static.platzi.com/mf-landings/assets/icons-c37436a96cebaa9e3654a8a6931a80e6.ttf) format("truetype"),url(https://static.platzi.com/mf-landings/assets/icons-5245370027577de7947c9a2d9e017ceb.svg#icons) format("svg");font-weight:400;font-style:normal;}
/*Cursos*/


/*Certificados*/
/*! CSS Used from: https://wkncdn.com/newx/assets/build/bundle.home.743595055.css */
.container:after,.container:before,.row:after,.row:before{content:" ";}
article,figcaption,figure,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
.h2,h4{font-family:'Open Sans',sans-serif;font-weight:600;line-height:1.3;}
.h2{margin-top:18px;margin-bottom:9px;}
h4{margin-top:9px;margin-bottom:9px;}
.h2{font-size:26px;}
h4{font-size:16px;}
p{margin:0 0 9px;font-weight:300;line-height:26px;}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:focus,a:hover{color:#253556;text-decoration:underline;}
a:focus{outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
figure{margin:0;}
img{vertical-align:middle;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1200px;}
}
.row{margin-left:-15px;margin-right:-15px;}
.col-md-4,.col-sm-6{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
@media (min-width:768px){
.col-sm-6{float:left;}
.col-sm-6{width:50%;}
}
@media (min-width:992px){
.col-md-4{float:left;}
.col-md-4{width:33.33333333%;}
}
.btn{display:inline-block;margin-bottom:0;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:active:focus,.btn:focus{outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
.btn:focus,.btn:hover{color: white;text-decoration:none;}
.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-success{color:#fff;background-color:#007BFF;}
.btn-success:focus{color:#fff;background-color:rgb(12, 93, 180);border-color:#03401a;}
.btn-success:active,.btn-success:hover{color:#fff;background-color:#007BFF;border-color:#067f33;}
.btn-success:active:focus,.btn-success:active:hover{color:#fff;background-color:#067f33;border-color:#03401a;}
.btn-success:active{background-image:none;}
.container:after,.container:before,.row:after,.row:before{content:" ";display:table;}
.container:after,.row:after{clear:both;}
.btn{outline:0!important;}
.btn{padding:10px 28.8px;font-size:13px;line-height:1.4;border-radius:3px;font-weight:600;text-transform:uppercase;white-space:normal;border:1px solid transparent;transition:background-color .3s ease-in-out,color .3s ease-in-out;-moz-transition:background-color .3s ease-in-out,color .3s ease-in-out;-webkit-transition:background-color .3s ease-in-out,color .3s ease-in-out;}
.btn.btn-lg{padding:20px 28.8px;font-size:13px;line-height:1.3333333;border-radius:3px;}
@media (max-width:991px){
.btn{letter-spacing:.5px;padding:8px 23.04px;font-size:11px;line-height:1.4;border-radius:3px;margin-bottom:10px;}
.btn.btn-lg{padding:11.2px 18.432px;font-size:13px;line-height:1.3333333;border-radius:3px;}
}
.goals{text-align:center;padding-bottom:40px;}
.goals article{background-color:#007BFF;margin-bottom:20px;}
.goals .hover-block{display:none;position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(31,46,78,.77);-webkit-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s;}
.goals .hover-block .btn{position:relative;top:50%;margin-top:-30px;}
.goals a{color:inherit;}
.goals a:focus,.goals a:hover{text-decoration:none;outline:0;}
.goals figure{position:relative;}
.goals figure img{width:100%;height:auto;}
.goals figcaption{padding:15px 40px;}
@media (min-width:992px){
.goals figcaption{min-height:130px;}
.goals .hover-block{display:block;opacity:0;}
.goals a:hover .hover-block{opacity:1;-webkit-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s;}
}
@media (max-width:1199px){
.goals figcaption{height:155px;padding-left:20px;padding-right:20px;}
}
@media (max-width:767px){
.goals{padding-bottom:10px;}
.goals article{-webkit-box-shadow:none;box-shadow:none;float:left;background:0 0;margin-bottom:15px;}
.goals figure{width:30%;float:left;}
.goals figcaption{text-align:left;width:70%;height:auto;float:left;padding:0 0 0 20px;}
.goals figcaption h4{margin-top:0;}
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.transparent{opacity:0;}
*{word-wrap:break-word;}
.h2{margin:40px 0;}
.box-common{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:0 2px 0 rgba(0,0,0,.12);-webkit-box-shadow:0 2px 0 rgba(0,0,0,.12);-moz-box-shadow:0 2px 0 rgba(0,0,0,.12);background-color:#fff;}
.btn.btn-lg{padding-left:48px;padding-right:48px;}
a{color:#253556;text-decoration:none;outline:0;}
@media (max-width:992px){
.h2{font-size:15.6px;}
h4{font-size:14.4px;}
}
/*! CSS Used keyframes */
@-moz-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
/*! CSS Used fontfaces */