body{
    font-family:'Sen', sans-serif;
}

/* Header */
label {
    display: inline-block;
    margin: 0;
    color: black;
}
.navbar {
    border-bottom: 1px solid gray;
} 


/* /Header */

/*Yo*/
.yo {
    padding: 55px 0px 0px 0px;
    margin: 0;
    width: 100%;
    height: 350px;
    background-color: #a80038;
}


.container_yo{
    padding: 25px;
    margin: 5px;
    color: whitesmoke;
    
    text-align: end;

}
.container_yo h1{
    color: white;
}
.btn-primary:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: #a80038;
    border-color: white;
}

/*Yo*/
.que{
    border-bottom: 0.2em solid #373331;
    width: 18em;
}

/* .list-group-item {
    position: relative;
    display: inline-table;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    width: 31em;;
    height: 3em;
} */


/* Footer */
#footer {
    background-color: #373331 !important;
}
#footer a {
    color: white;
}
/* Footer */
