:root{
	--certifColor: #414141;
	--bColor: #007bff;


}



body {
	font-family: "Sen", sans-serif;
}

@media (max-width: 500px) {
	.yo {
		height: 400px !important;
	}
}

/* Header */
/*Yo*/
.yo {
	padding: 55px 0px 0px 0px;
	margin: 0;
	width: 100%;
	height: 300px;
	background-color: var(--bColor);
}
.container_yo {
	padding: 15px;
	color: whitesmoke;
	text-align: center;
}
.container_yo h1 {
	color: white;
}
.btn-primary:not(:disabled):not(.disabled).active {
	color: white;
	background-color: var(--bColor);
	border-color: white;
}
/*Yo*/
.que {
	border-bottom: 0.2em solid var(--bColor);
	width: 18em;
	display: inline-block;
}
/* /Header */
/* Footer */
#footer {
	background-color: #373331 !important;
}
#footer a {
	color: white;
}
.copy {
	font-size: 0.8em;
}
/* Footer */

/*Cursos*/
/*! CSS Used from: https://static.platzi.com/mf-landings/assets/home.697a1c5f5c7d765951ab.css */
.NextReleases-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2em;
	grid-row-gap: 0.5em;
}
@media only screen and (min-width: 48em) {
	.NextReleases-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (min-width: 64em) {
	.NextReleases-list {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5em;
		grid-row-gap: 0.5em;
	}
}
.NextReleases-card {
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	border-left: 4px solid #98ca3f;
	padding: 8px 16px;
	font-size: 12px;
	line-height: 1.17;
	color: #4a4a4a;
	margin: 0 0 8px;
	position: relative;
	cursor: pointer;
}
@media only screen and (min-width: 48em) {
	.NextReleases-card:nth-child(3) {
		display: none;
	}
}
@media only screen and (min-width: 64em) {
	.NextReleases-card:nth-child(3) {
		display: block;
	}
}
.NextReleases-card a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	text-decoration: none;
}
.NextReleases-card-course {
	display: grid;
	grid-template-columns: 24px auto;
	grid-gap: 0.5em;
	margin-bottom: 8px;
}
.NextReleases-card-course h4 {
	font-size: 14px;
	font-weight: 700;
	color: #273b47;
	-webkit-align-self: center;
	align-self: center;
	-ms-flex-item-align: center;
}
@media only screen and (min-width: 48em) {
	.NextReleases-card-course h4 {
		font-size: 16px;
	}
}
@media only screen and (min-width: 64em) {
	.NextReleases-card-course h4 {
		font-size: 18px;
	}
}
.NextReleases-card-course img {
	width: 24px;
}
.NextReleases-card-launch {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
}
.NextReleases-card-launch span {
	font-size: 12px;
}
@media only screen and (min-width: 48em) {
	.NextReleases-card-launch span {
		font-size: 14px;
	}
}
.NextReleases-card-launch i {
	font-size: 14px;
	margin: 0 10px 0 6px;
	color: #98ca3f;
}
a {
	background-color: transparent;
}
img {
	border-style: none;
}
[class^="icon-"]:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: icomoon;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-transform: none;
}
[class^="icon-"] {
	line-height: 100%;
}
.icon-clock:before {
	content: "\e618";
}
* {
	margin: 0;
}
a {
	color: #0791e6;
}
/*! CSS Used fontfaces */
@font-face {
	font-family: icomoon;
	src: url(https://static.platzi.com/mf-landings/assets/icons-d25d25e0bb5d8e8aad1f32dcd7ae25c9.eot#iefi9dtney)
			format("embedded-opentype"),
		url(https://static.platzi.com/mf-landings/assets/icons-e943149dc8a3aead112115662484e1b1.woff)
			format("woff"),
		url(https://static.platzi.com/mf-landings/assets/icons-c37436a96cebaa9e3654a8a6931a80e6.ttf)
			format("truetype");
	font-weight: 400;
	font-style: normal;
}
/*Cursos*/

/*Youtube*/
.Youtube {
	margin: 0;
	height: 100%;
	background-color: white;
	padding: 2em;
}
/* Sombras de los cards de los videos */

.sombra {
	background-color: white;
	box-shadow: 9px 12px 39px -11px rgba(0, 0, 0, 0.75);
}
/*Sombra*/

/*Animacion*/
.ani {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: ani;
	animation-name: ani;
}

@keyframes ani {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
/*Animacion*/
